table.first {
    border-collapse: collapse;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: max-content;
}

table.first td {
    border: solid 1px;
    border-color: black;
    font-size: 0.4em;
    /* padding: 1.2em; */
    /* width: 1em; */
    text-align: center;
}

table.first th {
    border: solid 2px;
    border-color: black;
    font-size: 0.5em;
    padding: 0.5em;
}

table.second {
    border-collapse: collapse;
    display: inline-block;
    margin-right: 10px;
}

table.second td {
    border: solid 2px;
    border-color: black;
    font-size: 0.8em;
    padding: 1em;
    cursor: pointer;
}

.text-white {
    color: #fff;
}

.text-blank {
    color: #000;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.d-flex {
    display: flex;
    margin-bottom: 10px;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.button2 {
    background-color: #008CBA;
}

.highlighted {
    background-color: #dfcf00;
}

.border-right-red {
    border-right: 2px solid #f00;
}

.clickItem {
    padding: 1px !important;
    text-align: center;
}

.width-10 {
    width: 100%;
}

.body {
    width: 16px;
    height: 16px;
}


/* แรงค์ */

.range-wrap {
    position: relative;
    margin: 0 auto 2rem;
}

.range {
    width: 100%;
}

.bubble {
    background: red;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: red;
    top: -1px;
    left: 50%;
}

input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}